<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				background-color: black;
				color: white;
			}
			
			#content {
				margin-top: 150px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="content">
			<img src="/img/404.png"/><br/>
			<h1>Widzę błąd 404...</h1>
		</div>
	</body>
</html>