<% extend('layout') %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Casting do Dubbingu Euphoria</span>

<p>Euphoria Casting © 2018 AnimawkaSubs</p>


<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Lektor</h5> 
    </li>
    <li class="collection-item">00:14:99 - 00:16:77 Wyjaśnię teraz zasady.</li>
    <li class="collection-item">00:53.69 - 01:04.46 Klucznik musi użyć klucza w połączeniu z żeńskimi organami: ustami, odbytem, pochwą lub piersiami.</li>
    <li class="collection-item">00:14:99 - 00:16:77 Wyjaśnię teraz zasady.</li>
    <li class="collection-item">00:53.69 - 01:04.46 Klucznik musi użyć klucza w połączeniu z żeńskimi organami: ustami, odbytem, pochwą lub piersiami.</li>
    <li class="collection-item">01:32.78 - 01:34.82 Przedstawię graczy.</li>
    <li class="collection-item">01:35.61 - 01:39.28 Szkoła Rokukeikan, klasa 2-B, Takatou Keisuke.</li>
    <li class="collection-item">01:44.29 - 01:47.33 Ta sama szkoła i klasa, Andou Miyako.</li>
    <li class="collection-item">01:54.34 - 01:56.72 Ta sama klasa, Hokari Kanae.</li>
    <li class="collection-item">02:01.89 - 02:04.85 Ta sama klasa, Manaka Nemu.</li>
    <li class="collection-item">02:09.02 - 02:11.44 Klasa 2-A, Byakuya Rinne.</li>
    <li class="collection-item">02:15.74 - 02:18.11 Klasa 1-D, Makiba Rika.</li>
    <li class="collection-item">02:25.87 - 02:28.37 Nauczycielka angielskiego, Aoi Natsuki.</li>
    <li class="collection-item">02:28.75 - 02:32.38 Wasza siódemka weźmie udział w grze.</li>
    <li class="collection-item">02:33.88 - 02:40.34 Odmowa uczestnictwa lub złamanie zasad, spowoduje przegranie gry.</li>
    <li class="collection-item">14:13.83 - 14:14.75 Potwierdzono.</li>
    
</ul>


<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Natsuki Aoi (nauczycielka)</h5> 
    </li>
    <li class="collection-item">02:22.20 - 02:25.87 Makiba, nie bój się, będzie dobrze.</li>
    <li class="collection-item">02:46.77 - 02:47.93 Andou!</li>
    <li class="collection-item">14:02.94 - 14:04.44 Musimy ich słuchać.</li>
    <li class="collection-item">14:04.44 - 14:06.49 Chodźcie wszyscy na linię.</li>
    
</ul>


<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Nemu Manaka</h5> 
    </li>
    <li class="collection-item">09:41.01 - 09:44.48 Zastanawiałam się, co tu robisz.</li>
    <li class="collection-item">09:45.39 - 09:47.94 Nie powiesz?</li>
    <li class="collection-item">09:48.81 - 09:49.90 Czyżbyś...</li>
    <li class="collection-item">09:54.53 - 09:57.65 Stanął ci.</li>
    <li class="collection-item">10:08.08 - 10:13.50 Podniecił cię jej trup?</li>
    
</ul>


<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Kanae Hokari</h5> 
    </li>
    <li class="collection-item">04:41.76 - 04:45.97 Kei, to boli.</li>
    <li class="collection-item">05:43.90 - 05:50.12 Majtki wpijają mi się w tyłek.</li>
    <li class="collection-item">05:50.91 - 05:53.29 Co za wstyd.</li>
    <li class="collection-item">05:56.29 - 05:59.46 To jeszcze bardziej zawstydzające, niż bycie nago.</li>
    <li class="collection-item">05:59.46 - 06:02.75 Już wolę być nago, niż znosić to.</li>
    
</ul>


<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Keisuke Takatou</h5> 
    </li>
    <li class="collection-item">01:21.47 - 0:01:24.06 Koniec gry oznacza naszą śmierć.</li>
    <li class="collection-item">02:45.56 - 02:46.39 Znikła!</li>
    <li class="collection-item">03:32.40 - 03:35.56 To była przewodnicząca?</li>
    <li class="collection-item">03:38.65 - 03:41.70 Co za smród, chyba się porzygam.</li>
    
</ul>



<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Miyako Andou</h5> 
    </li>
    <li class="collection-item">01:13.05 - 01:14.72 To nie jest śmieszne!</li>
    <li class="collection-item">02:32.84 - 02:33.88 Nie chcę!</li>
    <li class="collection-item">02:40.34 - 02:42.39 To nie jest śmieszne!</li>
    
</ul>



<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle">account_circle</i>
        <h5 class="title">Rika Makiba</h5> 
    </li>
    <li class="collection-item">02:18.86 - 02:22.20 Co jest?! Boję się!</li>
</ul>

<p>02:43.205 grupowe huuuh (wyłaczone swietła, wystraszyli się) (ja bym też się wystraszył)</p>

<p>03:03.058 yhh (laske kopie prąd, Keisuke Takatou zrobił yhh) (obrzydliweeee)</p>

<p></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</main>