<% extend('layout') %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Kontakt</span>
						<p>Chcesz się z nami skontaktować? Napisz nam wiadomość na adres email</p>
						<p><strong>Kierownik: <a href="mailto:malarz@animawka.pl">malarz@animawka.pl</a></strong></p>
						<p><strong>Ruka-chan: <a href="mailto:ruka-chan@animawka.pl">ruka-chan@animawka.pl</a></strong></p>
						<p><strong>Gabixdev: <a href="mailto:gabixdev@animawka.pl">gabixdev@animawka.pl</a></strong></p>
						<p><strong>PixelHir: <a href="mailto:pixel@animawka.pl">pixel@animawka.pl</a></strong></p>
						<p><strong>Zgłoszenia DMCA: <a href="mailto:dmca@animawka.pl">dmca@animawka.pl</a></strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>