<div class="container">
	<div class="row">
		<div class="col s12 m3 l3">
			<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-8i+1w-dp+ea+fo" data-ad-client="ca-pub-8567176078866941" data-ad-slot="9300273169"></ins>
			<script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
		</div>
	</div>
</div>

<footer class="page-footer <%= theme.primary %> darken-2">
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<!--<div class="col s12 m12"><img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/materialize-teal.png?18278776791153557277"><br /><p class="white-text">Made with love with Materialize</p></div>-->
				<div class="col s12 m3">© 2018 AnimawkaSubs</div>
				<div class="col s12 m9 right-align">
  					Wykonanie: Heniooo &amp; gabixdev
  				</div>
			</div>
		</div>
	</div>
</footer>

<!--[if (gt IE 9)|!(IE)]><!--><script src="/javascript/vendor.js" defer="defer"></script><!--<![endif]-->
<!--[if lt IE 9]><script src="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/vendor.js?12247180553584102901"></script><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><script src="/javascript/theme.js" defer="defer"></script><!--<![endif]-->
<!--[if lt IE 9]><script src="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/theme.js?12247180553584102901"></script><![endif]-->
