<% extend('layout') %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12 offset-m3 m6">
				<div class="card-panel teal">
					<span class="white-text">
						Rejestracja tymczasowo wyłączona
					</span>
					<script>
						setTimeout(function() {
							window.location.href = "/";
						}, 5000);
					</script>
				</div>
			</div>
		</div>
	</div>
</main>