<% extend('layout') %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Regulamin</span>

<h3>Wstêp</h3>
<p>Korzystanie z zasobów dostêpnych na stronie internetowej animawka.pl oznacza wyra¿eniem zgody i akceptacjê warunków oraz zasad u¿ytkowania zawartych w niniejszym regulaminie. W zasobach strony internetowej animawka.pl zabrania siê umieszczania materia³ów niezgodnych z obowi¹zuj¹cymi normami prawnymi, obyczajowymi lub etycznymi, w tym zw³aszcza treœci o charakterze pornograficznym, wzywaj¹cych do nienawiœci rasowej, etnicznej, wyznaniowej, itp. oraz propaguj¹ce przemoc, piractwo fonograficzne, komputerowe, upowszechniaj¹cych techniki ³amania danych, wirusy oraz publikacji wszelkich innych, podobnych w treœci i dzia³aniu, materia³ów.</p>
<h3>Wy³¹czenie odpowiedzialnoœci</h3>
<p>Serwis animawka.pl nie ponosi odpowiedzialnoœci za:</p>
<ul class="punktory">
    <li>treœæ materia³ów umieszczanych i publikowanych na stronie animawka.pl przez u¿ytkowników,</li>
    <li>jakiekolwiek szkody U¿ytkownika wynikaj¹ce z nieprawid³owego zapisu lub odczytu danych,</li>
    <li>sposób w jaki bêd¹ wykorzystywane Konta przez U¿ytkowników,</li>
    <li>skutki wejœcia w posiadanie przez osoby trzecie has³a U¿ytkownika,</li>
    <li>przerwy w funkcjonowaniu serwisów i us³ug personalizowanych, zaistnia³e z przyczyn technicznych (konserwacja, przegl¹d, wymiana sprzêtu) lub niezale¿nych od animawka.pl,</li>
    <li>utratê danych spowodowan¹ awari¹ sprzêtu, systemu lub te¿ innymi okolicznoœciami niezale¿nymi od dostawcy us³ug,</li>
    <li>bezprawne kopiowanie plików objêtych prawem autorskim, przez osoby do tego nieuprawnione.</li>
</ul>
<p>Serwis animawka.pl nie odpowiada za:</p>
<ul>
    <li>poprawne funkcjonowanie linków,</li>
    <li>dostêpnoœæ odcinków online,</li>
    <li>poprawnych opisów anime.</li>
</ul>
<h3>Prawa w³asnoœci intelektualnej</h3>
<p>Serwis animawka.pl nie zawiera plików z odcinkami, a jedynie informacje na ich temat zawieraj¹ce:</p>
<ul>
    <li>opis i d³ugoœæ odcinka/anime</li>
    <li>kody embed (HTML) zewnêtrznych serwisów</li>
    <li>linki do zewnêtrznych serwisów lub bezpoœrednie linki do plików na nich umieszczonych</li>
    <li>wszelkie roszczenia dotycz¹ce praw autorskich, znaków towarowych, i innych naruszeñ regulaminu mo¿na zg³aszaæ poprzez formularz kontaktowy,</li>
    <li>u¿ytkownik zamieszczaj¹c materia³y na stronie internetowej animawka.pl oœwiadcza, ¿e posiada prawa autorskie do w/w lub te¿ prawa do publikacji tych¿e materia³ów.</li>
</ul>
<h3>U¿ytkownik zobowi¹zuje siê:</h3>
<p>Wype³niæ wszystkie wymagane pola podczas procesu rejestracji. Aktywacja konta nastêpuje po potwierdzeniu autentycznoœci adresu email poprzez klikniêcie w link aktywacyjny otrzymany w wiadomoœci email. U¿ytkownik uzyskuje dostêp do pe³nej funkcjonalnoœci serwisu po podaniu nazwy i has³a (logowanie). U¿ytkownik ma wgl¹d do informacji jawnych dotycz¹cych kont pozosta³ych U¿ytkowników. Na wyraŸne ¿¹danie U¿ytkownika administracja usuwa jego konto. Usuniêcie konta nie powoduje automatycznego usuniêcia wszystkich treœci, jakie U¿ytkownik zamieœci³ w serwisie animawka.pl; Administracja nie usuwa w takim przypadku zamieszczonych linków, komentarzy, raportów i oddanych g³osów.</p>
<h3>U¿ytkownik ma prawo:</h3>
<p>Dodawaæ materia³y do strony animawka.pl w postaci: kodu HTML/odnoœnika do innych stron</p>
<h3>W³aœciciel serwisu animawka.pl zastrzega sobie prawo do blokowania lub usuwania kont u¿ytkowników w przypadku:</h3>
<ul>
    <li>korzystania z konta w serwisie animawka.pl przez osoby trzecie, nie bêd¹ce jego w³aœcicielami (osoba inna, ni¿ ta, której dane zosta³y podane w formularzu rejestracyjnym)</li>
    <li>ra¿¹cego ³amania regulaminu serwisu animawka.pl</li>
    <li>wysy³ania niechcianych treœci, w tym tak¿e reklam, spamu, obraŸliwych lub/i wulgarnych wypowiedzi,</li>
    <li>w przypadku innych dzia³añ, które zostan¹ przez redakcje serwisu uznane za niestosowne lub szkodz¹ce dobru serwisu animawka.pl lub jego u¿ytkowników.</li>
</ul>
<h3>Postanowienia koñcowe</h3>
<p>Regulamin wchodzi w ¿ycie z dniem 01 stycznia 2014r.</p>
<p>Administracja serwisu animawka.pl zastrzega sobie mo¿liwoœæ modyfikacji serwisu, jak równie¿ jego likwidacjê. Niniejszy regulamin mo¿e byæ zmieniony przez administracja serwisu animawka.pl w ka¿dym czasie.</p>        <p></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</main>