<% extend('layout') %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Regulamin</span>

<h4>Wstęp</h4>
<p>Korzystanie z zasobów dostępnych na stronie internetowej animawka.pl oznacza wyrażeniem zgody i akceptację warunków oraz zasad użytkowania zawartych w niniejszym regulaminie. W zasobach strony internetowej animawka.pl zabrania się umieszczania materiałów niezgodnych z obowiązującymi normami prawnymi, obyczajowymi lub etycznymi, w tym zwłaszcza treści o charakterze pornograficznym, wzywających do nienawiści rasowej, etnicznej, wyznaniowej, itp. oraz propagujące przemoc, piractwo fonograficzne, komputerowe, upowszechniających techniki łamania danych, wirusy oraz publikacji wszelkich innych, podobnych w treści i działaniu, materiałów.</p>
<h4>Wyłączenie odpowiedzialności</h4>
<p>Serwis animawka.pl nie ponosi odpowiedzialności za:</p>
<ul class="punktory">
    <li>treść materiałów umieszczanych i publikowanych na stronie animawka.pl przez użytkowników,</li>
    <li>jakiekolwiek szkody Użytkownika wynikające z nieprawidłowego zapisu lub odczytu danych,</li>
    <li>sposób w jaki będą wykorzystywane Konta przez Użytkowników,</li>
    <li>skutki wejścia w posiadanie przez osoby trzecie hasła Użytkownika,</li>
    <li>przerwy w funkcjonowaniu serwisów i usług personalizowanych, zaistniałe z przyczyn technicznych (konserwacja, przegląd, wymiana sprzętu) lub niezależnych od animawka.pl,</li>
    <li>utratę danych spowodowaną awarią sprzętu, systemu lub też innymi okolicznościami niezależnymi od dostawcy usług,</li>
    <li>bezprawne kopiowanie plików objętych prawem autorskim, przez osoby do tego nieuprawnione.</li>
</ul>
<p>Serwis animawka.pl nie odpowiada za:</p>
<ul>
    <li>poprawne funkcjonowanie linków,</li>
    <li>dostępność odcinków online,</li>
    <li>poprawnych opisów anime.</li>
</ul>
<h4>Prawa własności intelektualnej</h4>
<p>Serwis animawka.pl nie zawiera plików z odcinkami, a jedynie informacje na ich temat zawierające:</p>
<ul>
    <li>opis i długość odcinka/anime</li>
    <li>kody embed (HTML) zewnętrznych serwisów</li>
    <li>linki do zewnętrznych serwisów lub bezpośrednie linki do plików na nich umieszczonych</li>
    <li>wszelkie roszczenia dotyczące praw autorskich, znaków towarowych, i innych naruszeń regulaminu można zgłaszać poprzez formularz kontaktowy,</li>
    <li>użytkownik zamieszczając materiały na stronie internetowej animawka.pl oświadcza, że posiada prawa autorskie do w/w lub też prawa do publikacji tychże materiałów.</li>
</ul>
<h4>Użytkownik zobowiązuje się:</h4>
<p>Wypełnić wszystkie wymagane pola podczas procesu rejestracji. Aktywacja konta następuje po potwierdzeniu autentyczności adresu email poprzez kliknięcie w link aktywacyjny otrzymany w wiadomości email. Użytkownik uzyskuje dostęp do pełnej funkcjonalności serwisu po podaniu nazwy i hasła (logowanie). Użytkownik ma wgląd do informacji jawnych dotyczących kont pozostałych Użytkowników. Na wyraźne żądanie Użytkownika administracja usuwa jego konto. Usunięcie konta nie powoduje automatycznego usunięcia wszystkich treści, jakie Użytkownik zamieścił w serwisie animawka.pl; Administracja nie usuwa w takim przypadku zamieszczonych linków, komentarzy, raportów i oddanych głosów.</p>
<h4>Użytkownik ma prawo:</h4>
<p>Dodawać materiały do strony animawka.pl w postaci: kodu HTML/odnośnika do innych stron</p>
<h4>Właściciel serwisu animawka.pl zastrzega sobie prawo do blokowania lub usuwania kont użytkowników w przypadku:</h4>
<ul>
    <li>korzystania z konta w serwisie animawka.pl przez osoby trzecie, nie będące jego właścicielami (osoba inna, niż ta, której dane zostały podane w formularzu rejestracyjnym)</li>
    <li>rażącego łamania regulaminu serwisu animawka.pl</li>
    <li>wysyłania niechcianych treści, w tym także reklam, spamu, obraźliwych lub/i wulgarnych wypowiedzi,</li>
    <li>w przypadku innych działań, które zostaną przez redakcje serwisu uznane za niestosowne lub szkodzące dobru serwisu animawka.pl lub jego użytkowników.</li>
</ul>
<h4>Postanowienia końcowe</h4>
<p>Regulamin wchodzi w życie z dniem 14 Luty 2018r.</p>
<p>Administracja serwisu animawka.pl zastrzega sobie możliwość modyfikacji serwisu, jak również jego likwidację. Niniejszy regulamin może być zmieniony przez administracja serwisu animawka.pl w każdym czasie.</p>        <p></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</main>