<nav class="nav-extended <%= theme.primary %> <%= theme.modifiers.nav %>">
	<div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a <% if (cp === "home") { %>class="active"<% } %> target="_self" href="/admin">Strona główna</a></li>
			<li class="tab"><a <% if (cp === "accounts") { %>class="active"<% } %> target="_self" href="/admin/accounts">Konta</a></li>
			<li class="tab"><a <% if (cp === "anime") { %>class="active"<% } %> target="_self" href="/admin/anime">Anime</a></li>
			<li class="tab"><a <% if (cp === "group") { %>class="active"<% } %> target="_self" href="/admin/groups">Grupy</a></li>
			<li class="tab"><a <% if (cp === "news") { %>class="active"<% } %> target="_self" href="/admin/news">Newsy</a></li>
			<li class="tab"><a <% if (cp === "reviews") { %>class="active"<% } %> target="_self" href="/admin/reviews">Recenzje</a></li>
			<li class="tab"><a <% if (cp === "config") { %>class="active"<% } %> target="_self" href="/admin/settings">Konfiguracja</a></li>
		</ul>
	</div>
</nav>